
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family:poppins, Helvetica, sans-serif;

}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-rotate-y {
  animation: rotateY 4s linear infinite;
}


@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-rotate-y {
  animation: rotateY 4s linear infinite;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1s ease-in-out infinite;
}


.text-primary {
  color: #3EA089;
}

.bg-light {
  background-color: #EDF8F5;
}

.uppercase {
  text-transform: uppercase;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
}

.saira {
  font-family: 'Saira', sans-serif;
}

.animate-fade {
  animation: fade 1s infinite;
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.transform {
  transition: transform 0.5s;
}

.hover\\:-translate-y-1:hover {
  transform: translateY(-0.25rem);
}

.transition-all {
  transition: all 0.5s;
}

.hover\\:shadow-md:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.relative {
  position: relative;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
}

.carousel-item.hidden {
  display: none;
}

.carousel-item.active {
  display: block;
}

/* partnercomponent */

.carousel-container {
  position: relative;
  overflow: hidd;
  width: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.bg-light {
  background-color: #EDF8F5;
}

button {
  cursor: pointer;
}


